---
import HeaderLink from './HeaderLink.astro';
---

<header
  class="max-w-[1400px] mx-auto lg:px-10 px-4 flex justify-between items-center sticky top-0"
>
  <div class="flex flex-1 items-center bg-white">
    <a
      href="/"
      class="bg-black h-9 text-white flex items-center justify-center px-4"
    >
      gobrand
    </a>
    <div class="border border-gray-200 flex flex-1">
      <nav class="flex items-center flex-1">
        <!-- <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink> -->
      </nav>
      <div class="flex items-center gap-4 border-l border-gray-200">
        <a class="px-4" href="https://hub.gobrand.app">Login</a>
      </div>
    </div>
  </div>
</header>
