---
import '../styles/global.css';

import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class="pt-10">
      <Header />
      <main>
        <slot />
      </main>
      <div class="mt-[300px]">
        <Footer />
      </div>
    </div>
  </body>
</html>
